title {
  background-color: red;
}

html {
  background-color: rgba(250,250,200,0.7);

}

h1 {
  color: blue;
  margin-left: inherit;
  margin-right: inherit;
  background-color: lightblue;
  font-family: verdana;
  font-size: 20px;
}

body {

  font-family: verdana;
  font-size: 20px;
  color: green;
  margin-bottom: 15px;
}

div {
  padding: inherit;
  border-style: dashed;
  border-width: 1px;
  border-color: navy;
  padding-left: 25px;
  padding-bottom: 50px;
}
